<div class="col-12 mt-5">
    <h3 class="mb-3">Rechercher un médecin</h3>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">🔎</span>
      </div>
      <input type="text" class="form-control" placeholder="Rechercher votre médecin" aria-label="Username" aria-describedby="basic-addon1">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="searchMed">Rechercher</button>
        <button type="button" class="btn btn-secondary">Crée un rapport</button>
      </div>
    </div>
  </div>
  
  <div class="col-12">
  
  </div>
  

  <div class="col-12 mt-5">
    <h3 class="mb-3">Rechercher un rapport</h3>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">🔎</span>
      </div>
      <input type="text" class="form-control" placeholder="Rechercher votre rapport" aria-label="Username" aria-describedby="basic-addon1">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="searchMed">Rechercher</button>
      </div>
    </div>
  </div>
  
  <div class="col-12">
  