<div class="col-12 mt-5">
  <form class="form-search" *ngIf="viewSearchBar">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Rechercher votre médicament" aria-label="String" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete (optionSelected)="showDetails($event)" #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredMed | async" [value]="option.nomCommercial + '-' + option.id">
            {{ option.nomCommercial }}
          </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>

<div class="col-12" *ngIf="viewDetails">
  <form (ngSubmit)="onSubmit($event)" class="form-detail mt-5">
    <!-- idMed -->
      <input matInput placeholder="id Medicament" name="idMed" value="{{ leMed.idMed }}" [ngStyle]="{'display':'none'}" >
<!--  Nom commercial  -->
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nom commercial" value="{{ leMed.nomCommercial }}" [disabled]="true">
    </mat-form-field>
<!-- Famille -->
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Famille" value="{{ leMed.famille }}" [disabled]="true" >
    </mat-form-field>
<!-- Composition -->
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Composition" name="composition" value="{{ leMed.composition }}" [disabled]="isEditable" required>
    </mat-form-field>
<!-- Effet -->
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Effets" name="effets" [disabled]="isEditable" required>{{ leMed.effet }}</textarea>
    </mat-form-field>
<!-- Contre indication -->
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Contre indication" name="contreIndications" [disabled]="isEditable" required>{{ leMed.contreIndication }}</textarea>
    </mat-form-field>
<!-- Bouton -->
    <div class="col-12 text-center">
      <button type="submit" class="mr-3" mat-flat-button color="primary" *ngIf="!isEditable">Sauvegarder les modifications</button>
      <button mat-flat-button color="warn" *ngIf="!isEditable" (click)="makeEditable()">Annuler les modifications</button>
    </div>
  </form>
</div>
<div class="col-12 text-center mt-2" *ngIf="viewDetails">
  <button mat-flat-button color="primary" *ngIf="isEditable" (click)="makeEditable()">Modifier les informations</button>
</div>

<!--button affiche la fenêtre modal-->
<button type="button" class="btn view-map"  data-toggle="modal" data-target="#exampleModal"
        #tooltip="matTooltip"
        matTooltip="Qui à reçu ce médicament ?"
        matTooltipPosition="above"
        aria-label="bouton qui affiche des détails sur un logo" *ngIf="viewDetails">
  <img  src="../../assets/img/eye_logo.png" alt="eye_logo">
</button>

<!-- bouton ajout d'un médicament -->
<button type="button" class="btn add-med"
        #tooltip2="matTooltip"
        matTooltip="Ajouter un médicament"
        matTooltipPosition="above"
        aria-label="bouton qui permet d'ajouter un médicament" *ngIf="viewDetails" (click)="toogleShow()">
  <img  src="../../assets/img/add_logo.png" alt="add_logo">
</button>

<div class="col-12" *ngIf="viewForm">

  <span id="back" (click)="toogleShow()" style="font-size: 1em; color: DodgerBlue;">
    <fa-icon [icon]="faArrowLeft"></fa-icon>
    Revenir en arrière
  </span>

  <form #f= "ngForm" (ngSubmit)="onSubmitAddMedicament(f)" id="form-add-med">
    <mat-form-field>
      <input name="nom" [ngModel]="formMed.nomCommercial" matInput placeholder="Nom Commercial" required maxlength="80">
    </mat-form-field>

    <mat-form-field>
      <mat-select name="famille" [ngModel]="formMed.famille
" placeholder="Famille" required>
        <mat-option *ngFor="let f of familles" value="{{ f.id }}">{{ f.libelle }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input name="composition" [ngModel]="formMed.composition" matInput placeholder="Composition" maxlength="255" required>
    </mat-form-field>

    <mat-form-field>
      <textarea name="effets" [ngModel]="formMed.effet" matInput placeholder="Effets" maxlength="255" required></textarea>
    </mat-form-field>

    <mat-form-field>
      <textarea name="contre-indication" [ngModel]="formMed.contreIndication" matInput placeholder="Contre indications" maxlength="255" required></textarea>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="!f.form.valid" >Ajouter le médicament</button>
  </form>
</div>

<!-- Modal pour la carte -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Médecins ayant reçu ce médicament</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12 mt-2 mb-2">
          <!--  Centre la map sur Paris grâce au property binding -->
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="6">
            <agm-marker
              *ngFor="let m of markers;let i = index;"
              [latitude]="m.geometry.location.lat"
              [longitude]="m.geometry.location.lng"
              [title]="address[i].identite + '\n' + m.formatted_address"
              [markerDraggable]="false">
            </agm-marker>
          </agm-map>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

